<template>
  <div class="flex flex-col items-start justify-start gap-8 max-w-full pt-6">
    <div
      class="flex flex-col md:flex-col md:*:flex-col justify-items-stretch space-y-5 px-0 w-full md:grid md:grid-cols-2 md:*:pr-36 md:justify-items-stretch md:*:text-[18px]">

      <div class="flex flex-col gap-5">
        <div class="flex flex-col gap-2">
          <label for="firstName">Vorname(n)</label>
          <InputText id="firstName" v-model="applicationStore.personalData.firstName" />
        </div>
        <div class="flex flex-col gap-2">
          <label for="lastName">Nachname</label>
          <InputText id="lastName" v-model="applicationStore.personalData.lastName" />
        </div>
        <div class="flex flex-col gap-2">
          <label for="matriculationNumber">Matrikelnummer</label>
          <InputText id="matriculationNumber" v-model="applicationStore.personalData.matriculationNumber" />
        </div>
        <div class="flex flex-col gap-2">
          <label for="email">Email</label>
          <InputText id="email" v-model="applicationStore.personalData.email" />
        </div>
      </div>

      <div class="flex flex-col justify-start align-baseline gap-5">
        <div class="flex flex-col gap-2">
          <label for="degreeProgramm">Studiengang</label>
          <Dropdown id="degreeProgramm" v-model="applicationStore.degreeProgram" :options="degreeProgramOptions"
            optionLabel="name" placeholder="Studiengang auswählen" class="w-full" />
        </div>
        <div class="flex flex-col gap-2">
          <label for="spo">SPO</label>
          <InputText id="spo" v-model="applicationStore.spo" />
        </div>
        <div class="flex flex-col gap-2">
          <label for="semester">Fachsemester</label>
          <InputText id="semester" v-model="applicationStore.semester" />
        </div>
      </div>
    </div>

    <div class="flex flex-row gap-5">
      <h2>Studienmodell:</h2>
      <div class="flex items-center">
        <RadioButton v-model="applicationStore.studyModel" inputId="studymodel1" name="studymodel" value="2" />
        <label for="studymodel1" class="ml-2">StiG 2</label>
      </div>
      <div class="flex items-center">
        <RadioButton v-model="applicationStore.studyModel" inputId="studymodel2" name="studymodel" value="3" />
        <label for="studymodel2" class="ml-2">StiG 3</label>
      </div>
    </div>
  </div>
</template>

<script setup>
import Dropdown from 'primevue/dropdown';
import InputText from "primevue/inputtext";
import RadioButton from "primevue/radiobutton";

import { useApplicationFormStore } from '@/stores/ApplicationStore';

import { ref } from "vue";

const applicationStore = useApplicationFormStore();

const degreeProgramOptions = ref([
  { name: "Softwaretechnik und Medieninformatik", code: "SWB" },
  { name: "Wirtschaftsinformatik", code: "WKB" },
  { name: "IT-Sicherheit", code: "ISB" },
  { name: "Technische Informatik", code: "TIB" },
  { name: "Ingenieurpädagogik Informationstechnik-Elektrotechnik", value: "IEP" },
]);

</script>
