<template>
    <div class="w-full flex flex-col md:flex-row gap-12">
        <div class="w-full md:w-4/12 flex flex-col">
            <div v-for="info in personalInfo" :key="info.label" class="flex">
                <div class="w-4/12 flex justify-start items-center pr-2">
                    <h3>{{ info.label }}</h3>
                </div>
                <div class="w-8/12 flex justify-start items-center pl-4">
                    <div class="px-2 w-full">
                        <h4>{{ info.value }}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full md:w-8/12 flex h-auto justify-center">
            <div v-if="applicationStore.studyModel && applicationStore.isExaminationPlanSelected">
                <DataTable class="w-full" :value="courses" resizableColumns columnResizeMode="expand"
                    tableStyle="min-width: 50rem">
                    <Column field="name" header="Kurs"></Column>
                    <Column field="passed" header="bereits bestanden">
                        <template #body="{ data, field }">
                            {{ data[field] ? 'Ja' : 'Nein' }}
                        </template>
                    </Column>
                    <Column field="grade" header="mit Note">
                        <template #editor="{ data, field }">
                            <InputText v-model="data[field]" />
                        </template>
                    </Column>
                    <Column field="attempts" header="Anzahl bisheriger Versuche">
                        <template #body="{ data, field }">
                            {{ data[field] }}
                        </template>
                        <template #editor="{ data, field }">
                            <InputNumber v-model="data[field]" />
                        </template>
                    </Column>
                    <Column field="planA" header="Geplant im Semester A">
                        <template #body="{ data, field }">
                            {{ data[field] }}
                        </template>
                        <template #editor="{ data, field }">
                            <Checkbox v-model="data[field]" />
                        </template>
                    </Column>
                    <Column field="planB" header="Geplant im Semester B">
                        <template #body="{ data, field }">
                            {{ data[field] }}
                        </template>
                        <template #editor="{ data, field }">
                            <Checkbox v-model="data[field]" />
                        </template>
                    </Column>
                </DataTable>
            </div>
            <div v-else class="flex justify-center items-center">
                <p class="text-primary-950 text-center">Prüfungsplan nicht angelegt oder Studienmodell nicht ausgewählt.</p>
            </div>
        </div>
    </div>
</template>

<script setup>
import { useApplicationFormStore } from '@/stores/ApplicationStore';
import Checkbox from 'primevue/checkbox';
import Column from 'primevue/column';
import DataTable from 'primevue/datatable';
import InputNumber from 'primevue/inputnumber';
import InputText from 'primevue/inputtext';
import { computed } from 'vue';

const applicationStore = useApplicationFormStore();

const personalInfo = computed(() => [
    { label: 'Vorname(n):', value: applicationStore.personalData.firstName },
    { label: 'Nachname:', value: applicationStore.personalData.lastName },
    { label: 'Email:', value: applicationStore.personalData.email },
    { label: 'Matrikelnr.:', value: applicationStore.personalData.matriculationNumber },
    { label: 'Studiengang:', value: applicationStore.degreeProgram.name },
    { label: 'SPO:', value: applicationStore.spo },
    { label: 'Fachsemester:', value: applicationStore.semester },
    { label: 'Studienmodell:', value: applicationStore.studyModel }
]);

const courses = computed(() => {
    if (applicationStore.studyModel) {
        return applicationStore.examinationPlan.semester1
            .concat(applicationStore.examinationPlan.semester2)
            .concat(applicationStore.examinationPlan.semester3);
    }
    return [];
});
</script>
