<template>
    <div class="w-full">
        <template v-if="applicationStore.studyModel === null">
            <div class="flex justify-center items-center w-full h-64">
                <p>Studienmodell nicht ausgewählt.</p>
            </div>
        </template>
        <template v-else>
            <div class="flex justify-between gap-8 items-center w-full h-20">
                <InlineMessage severity="info">Prüfungsplan kann auch später festgelegt werden.</InlineMessage>
                <Button label="Prüfungsplan anlegen" icon="pi pi-map" iconPos="left"
                    @click="toggleExaminationPlan"></Button>
            </div>
            <!-- Semester 1 -->
            <template v-if="coursesSemester1.length > 0 && isShowExaminationPlan">
                <h2 class="text-[24px]">Semester 1</h2>
                <div class="pb-5">
                    <div class="card p-fluid">
                        <DataTable v-model:editingRows="editingRows" columnResizeMode="fit" :value="coursesSemester1"
                            editMode="row" dataKey="id" @row-edit-save="onRowEditSave">
                            <Column field="name" header="Kurs" style="width: 20%"></Column>
                            <Column field="passed" header="bereits bestanden">
                                <template #body="{ data, field }">
                                    <Tag :value="getPassedLabel(data[field])"
                                        :severity="data[field] ? 'success' : 'danger'" />
                                </template>
                                <template #editor="{ data, field }">
                                    <Dropdown v-model="data[field]" :options="passedOptions" optionLabel="label"
                                        optionValue="value" placeholder="Select a Status" />
                                </template>
                            </Column>
                            <Column field="grade" header="mit Note">
                                <template #editor="{ data, field }">
                                    <InputText v-model="data[field]" />
                                </template>
                            </Column>
                            <Column field="attempts" header="Anzahl bisheriger Versuche">
                                <template #body="{ data, field }">
                                    {{ data[field] }}
                                </template>
                                <template #editor="{ data, field }">
                                    <InputText v-model="data[field]" />
                                </template>
                            </Column>
                            <Column field="planA" header="Geplant im Semester A">
                                <template #body="{ data, field }">
                                    {{ data[field] }}
                                </template>
                                <template #editor="{ data, field }">
                                    <input type="checkbox" v-model="data[field]" />
                                </template>
                            </Column>
                            <Column field="planB" header="Geplant im Semester B">
                                <template #body="{ data, field }">
                                    {{ data[field] }}
                                </template>
                                <template #editor="{ data, field }">
                                    <input type="checkbox" v-model="data[field]" />
                                </template>
                            </Column>
                            <Column :rowEditor="true" style="width: 10%; min-width: 8rem" bodyStyle="text-align:center">
                            </Column>
                        </DataTable>
                    </div>
                </div>
            </template>

            <!-- Semester 2 -->
            <template v-if="coursesSemester2.length > 0 && isShowExaminationPlan">
                <h2 class="text-[24px]">Semester 2</h2>
                <div class="pb-5">
                    <div class="card p-fluid">
                        <DataTable v-model:editingRows="editingRows" columnResizeMode="fit" rowHover
                            :value="coursesSemester2" editMode="row" dataKey="id" @row-edit-save="onRowEditSave">
                            <Column field="name" header="Kurs" style="width: 20%"></Column>
                            <Column field="passed" header="bereits bestanden">
                                <template #body="{ data, field }">
                                    <Tag :value="getPassedLabel(data[field])"
                                        :severity="data[field] ? 'success' : 'danger'" />
                                </template>
                                <template #editor="{ data, field }">
                                    <Dropdown v-model="data[field]" :options="passedOptions" optionLabel="label"
                                        optionValue="value" placeholder="Select a Status" />
                                </template>
                            </Column>
                            <Column field="grade" header="mit Note">
                                <template #editor="{ data, field }">
                                    <InputText v-model="data[field]" />
                                </template>
                            </Column>
                            <Column field="attempts" header="Anzahl bisheriger Versuche">
                                <template #body="{ data, field }">
                                    {{ data[field] }}
                                </template>
                                <template #editor="{ data, field }">
                                    <InputText v-model="data[field]" />
                                </template>
                            </Column>
                            <Column field="planA" header="Geplant im Semester A">
                                <template #body="{ data, field }">
                                    {{ data[field] }}
                                </template>
                                <template #editor="{ data, field }">
                                    <input type="checkbox" v-model="data[field]" />
                                </template>
                            </Column>
                            <Column field="planB" header="Geplant im Semester B">
                                <template #body="{ data, field }">
                                    {{ data[field] }}
                                </template>
                                <template #editor="{ data, field }">
                                    <input type="checkbox" v-model="data[field]" />
                                </template>
                            </Column>
                            <Column :rowEditor="true" style="width: 10%; min-width: 8rem" bodyStyle="text-align:center">
                            </Column>
                        </DataTable>
                    </div>
                </div>
            </template>

            <!-- Semester 3 -->
            <template v-if="coursesSemester3.length > 0 && isShowExaminationPlan">
                <h2 class="text-[24px]">Semester 3</h2>
                <div class="pb-5">
                    <DataTable v-model:editingRows="editingRows" columnResizeMode="fit" rowHover
                        :value="coursesSemester3" editMode="row" dataKey="id" @row-edit-save="onRowEditSave">
                        <Column field="name" header="Kurs" style="width: 20%"></Column>
                        <Column field="passed" header="bereits bestanden" style="width: 15%">
                            <template #body="{ data, field }">
                                <Tag :value="getPassedLabel(data[field])"
                                    :severity="data[field] ? 'success' : 'danger'" />
                            </template>
                            <template #editor="{ data, field }">
                                <Dropdown v-model="data[field]" :options="passedOptions" optionLabel="label"
                                    optionValue="value" placeholder="Select a Status" />
                            </template>
                        </Column>
                        <Column field="grade" header="mit Note" style="width: 10%">
                            <template #editor="{ data, field }">
                                <InputText v-model="data[field]" />
                            </template>
                        </Column>
                        <Column field="attempts" header="Anzahl bisheriger Versuche" style="width: 10%">
                            <template #body="{ data, field }">
                                {{ data[field] }}
                            </template>
                            <template #editor="{ data, field }">
                                <InputText v-model="data[field]" />
                            </template>
                        </Column>
                        <Column field="planA" header="Geplant im Semester A">
                            <template #body="{ data, field }">
                                {{ data[field] }}
                            </template>
                            <template #editor="{ data, field }">
                                <input type="checkbox" v-model="data[field]" />
                            </template>
                        </Column>
                        <Column field="planB" header="Geplant im Semester B">
                            <template #body="{ data, field }">
                                {{ data[field] }}
                            </template>
                            <template #editor="{ data, field }">
                                <input type="checkbox" v-model="data[field]" />
                            </template>
                        </Column>
                        <Column :rowEditor="true" style="width: 10%; min-width: 8rem" bodyStyle="text-align:center">
                        </Column>
                    </DataTable>
                </div>
            </template>
        </template>
    </div>
</template>

<script setup>
import { StigService } from "@/services/StigService";
import { useApplicationFormStore } from "@/stores/ApplicationStore";
import Checkbox from "primevue/checkbox";
import Column from "primevue/column";
import DataTable from "primevue/datatable";
import Dropdown from "primevue/dropdown";
import InlineMessage from 'primevue/inlinemessage';
import InputText from "primevue/inputtext";
import Tag from "primevue/tag";
import Button from "primevue/button";
import { computed, onMounted, ref, watch } from "vue";

const applicationStore = useApplicationFormStore();
const courses = ref([]);
const editingRows = ref([]);
const isShowExaminationPlan = ref(false);

const coursesSemester1 = computed(() =>
    courses.value.filter((course) => course.semester === 1)
);
const coursesSemester2 = computed(() =>
    courses.value.filter((course) => course.semester === 2)
);
const coursesSemester3 = computed(() =>
    courses.value.filter((course) => course.semester === 3)
);

const fetchCourses = async () => {
    if (
        applicationStore.studyModel &&
        applicationStore.degreeProgram &&
        applicationStore.spo
    ) {
        // Fetch the courses from the service
        courses.value = await StigService.getCourses(
            applicationStore.studyModel,
            applicationStore.degreeProgram.name,
            applicationStore.spo
        );

        // Set the courses in the store, organized by semester
        applicationStore.setExaminationPlan(1, courses.value.filter(course => course.semester === 1));
        applicationStore.setExaminationPlan(2, courses.value.filter(course => course.semester === 2));
        applicationStore.setExaminationPlan(3, courses.value.filter(course => course.semester === 3));

        // Update the local courses array to match the store
        courses.value = [
            ...applicationStore.examinationPlan.semester1,
            ...applicationStore.examinationPlan.semester2,
            ...applicationStore.examinationPlan.semester3,
        ];
    }
};

const onRowEditSave = (event) => {
    const { newData, index } = event;
    const semester = newData.semester;

    // Find the course by its ID instead of using the index to avoid issues when filtering
    const courseIndex = courses.value.findIndex(course => course.id === newData.id);

    // Update the local courses array
    courses.value[courseIndex] = newData;

    // Update the course in the store by finding its correct semester and updating it there
    if (semester === 1) {
        const semesterIndex = applicationStore.examinationPlan.semester1.findIndex(course => course.id === newData.id);
        applicationStore.updateCourseInPlan(1, semesterIndex, newData);
    } else if (semester === 2) {
        const semesterIndex = applicationStore.examinationPlan.semester2.findIndex(course => course.id === newData.id);
        applicationStore.updateCourseInPlan(2, semesterIndex, newData);
    } else if (semester === 3) {
        const semesterIndex = applicationStore.examinationPlan.semester3.findIndex(course => course.id === newData.id);
        applicationStore.updateCourseInPlan(3, semesterIndex, newData);
    }
};

onMounted(() => {
    applicationStore.isExaminationPlanSelected = isShowExaminationPlan.value;
    if (
        applicationStore.studyModel &&
        applicationStore.degreeProgram &&
        applicationStore.spo
    ) {
        fetchCourses();
    }
});

watch(
    () => [
        applicationStore.studyModel,
        applicationStore.degreeProgram,
        applicationStore.spo,
    ],
    fetchCourses,
    { immediate: true }
);

const toggleExaminationPlan = () => {
    isShowExaminationPlan.value = !isShowExaminationPlan.value;
    applicationStore.isExaminationPlanSelected = isShowExaminationPlan.value;
};

const passedOptions = ref([
    { label: "bestanden", value: true },
    { label: "nicht bestanden", value: false },
]);

const getPassedLabel = (value) => {
    return value ? "bestanden" : "nicht bestanden";
};
</script>
