<template>
  <div class="flex flex-col items-center space-y-2 md:flex md:flex-row md:justify-between md:items-center md:h-24 *:font-d-din-pro">
    <a href="/">
      <img class="h-10 pt-3 md:h-16 lg:h-16" src="/hseLogo.svg" alt="logo" />
    </a>

    <div class="hidden md:flex md:flex-1 md:justify-end md:text-center md:gap-8 md:*:text-[20px] md:pr-10">
      <RouterLink class="text-farbe1 hover:text-farbe2 no-underline" to="/faqs">FAQs</RouterLink>
      <RouterLink class="text-farbe1 hover:text-farbe2 no-underline" to="/about-stig">Über StiG</RouterLink>
    </div>
    <div class="flex flex-col items-center space-y-3 w-full md:hidden">
      <div class="border rounded-none border-1">
        <RouterLink class="text-farbe1 hover:text-farbe2 no-underline" to="/faqs">FAQs</RouterLink>
      </div>
      <div>
        <RouterLink class="text-farbe1 hover:text-farbe2 no-underline" to="/about-stig">Über StiG</RouterLink>
      </div>
    </div>

    <template v-if="!keycloak.authenticated">
      <div class="flex space-x-3 border-none shadow-none">
        <Button icon="pi pi-sign-in" text rounded aria-label="User" @click="login"></Button>
      </div>
    </template>
    <template v-else>
      <div class="flex space-x-3 border-none shadow-none">
        <Button icon="pi pi-user" text rounded aria-label="User" @click="seeProfile">
        </Button>
        <Button icon="pi pi-sign-out" text rounded aria-label="User" @click="logout"></Button>
      </div>
    </template>
  </div>
</template>

<script setup>
import { globals } from '@/main';
import router from '@/router';
import Button from 'primevue/button';
import { reactive } from 'vue';
import { RouterLink } from 'vue-router';

const keycloak = reactive(globals.$keycloak);

const logout = () => {
  keycloak.logout();
};

const login = () => {
  keycloak.login();
};

const seeProfile = () => {
  if (keycloak.tokenParsed.sid) {
    router.push({ name: 'profile', params: { id: keycloak.tokenParsed.sid } });
  }
};

</script>
