<template>
    <div>
        <!-- Content visible only to Studiendekan -->
        <h3>Studiendekan Exclusive Content</h3>
        <p>This content is only visible to Studiendekan.</p>
    </div>
</template>

<script setup>
</script>

<style scoped>
</style>