<template>
    <DataTable v-model:editingRows="editingRows" :value="courses" editMode="row" dataKey="id"
        @row-edit-save="onRowEditSave">
        <Column field="name" header="Kurs" style="width: 25%"></Column>
        <Column field="passed" header="bereits bestanden" style="width: 25%">
            <template #body="{ data, field }">
                <Checkbox v-model="data[field]" binary></Checkbox>
            </template>
        </Column>
        <Column field="grade" header="mit Note" style="width: 25%">
            <template #editor="{ data, field }">
                <InputText v-model="data[field]" />
            </template>
        </Column>
        <Column field="attempts" header="Anzahl bisheriger Versuche" style="width: 25%">
            <template #body="{ data, field }">
                {{ data[field] }}
            </template>
            <template #editor="{ data, field }">
                <InputNumber v-model="data[field]" />
            </template>
        </Column>
        <Column field="planA" header="Geplant im Semester A" style="width: 25%">
            <template #body="{ data, field }">
                {{ data[field] }}
            </template>
            <template #editor="{ data, field }">
                <InputNumber v-model="data[field]" />
            </template>
        </Column>
        <Column field="planB" header="Geplant im Semester B" style="width: 25%">
            <template #body="{ data, field }">
                {{ data[field] }}
            </template>
            <template #editor="{ data, field }">
                <InputNumber v-model="data[field]" />
            </template>
        </Column>
        <Column :rowEditor="true" style="width: 10%; min-width: 8rem" bodyStyle="text-align:center">
        </Column>
        <!-- ... more columns as needed ... -->
    </DataTable>
</template>

<script setup>
import { ref } from 'vue';

const editingRows = ref([]);

onRowEditSave = (event) => {
    console.log("Row edit saved");
};

</script>