@font-face {
  font-family: 'D-DIN-PRO';
  src: url('/fonts/D-DIN-PRO-400-Regular.otf');
}

@font-face {
  font-family: 'D-DIN-PRO';
  src: url('/fonts/D-DIN-PRO-600-SemiBold.otf');
}

@font-face {
  font-family: 'D-DIN-PRO';
  src: url('/fonts/D-DIN-PRO-700-Bold.otf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}
