<template>
  <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
    <mask id="path-1-inside-1_20_302" fill="white">
      <path
        d="M11.4663 12.9154C14.8724 12.9154 17.6041 10.0138 17.6041 6.47538C17.6041 2.93692 14.8724 0 11.4663 0C8.06012 0 5.32845 2.90154 5.32845 6.44C5.32845 9.97846 8.06012 12.9154 11.4663 12.9154ZM11.4663 1.69846C13.9619 1.69846 15.9853 3.82154 15.9853 6.44C15.9853 9.05846 13.9619 11.1815 11.4663 11.1815C8.97068 11.1815 6.94721 9.09385 6.94721 6.47538C6.94721 3.85692 8.97068 1.69846 11.4663 1.69846ZM0.809384 23H22.1906C22.629 23 23 22.6108 23 22.1508C23 17.6923 19.5264 14.0477 15.2771 14.0477H7.72287C3.47361 14.0477 0 17.6923 0 22.1508C0 22.6108 0.370968 23 0.809384 23ZM7.72287 15.7462H15.2771C18.3798 15.7462 20.9091 18.1523 21.3138 21.3015H1.68622C2.09091 18.1523 4.62023 15.7462 7.72287 15.7462Z" />
    </mask>
    <path
      d="M21.3138 21.3015V23.3015H23.5872L23.2975 21.0466L21.3138 21.3015ZM1.68622 21.3015L-0.297471 21.0466L-0.587239 23.3015H1.68622V21.3015ZM11.4663 14.9154C16.0735 14.9154 19.6041 11.0194 19.6041 6.47538H15.6041C15.6041 9.00826 13.6714 10.9154 11.4663 10.9154V14.9154ZM19.6041 6.47538C19.6041 1.94594 16.0873 -2 11.4663 -2V2C13.6576 2 15.6041 3.92791 15.6041 6.47538H19.6041ZM11.4663 -2C6.8591 -2 3.32845 1.89595 3.32845 6.44H7.32845C7.32845 3.90712 9.26114 2 11.4663 2V-2ZM3.32845 6.44C3.32845 10.9694 6.84529 14.9154 11.4663 14.9154V10.9154C9.27495 10.9154 7.32845 8.98748 7.32845 6.44H3.32845ZM11.4663 3.69846C12.7678 3.69846 13.9853 4.83445 13.9853 6.44H17.9853C17.9853 2.80863 15.1559 -0.301539 11.4663 -0.301539V3.69846ZM13.9853 6.44C13.9853 8.04555 12.7678 9.18154 11.4663 9.18154V13.1815C15.1559 13.1815 17.9853 10.0714 17.9853 6.44H13.9853ZM11.4663 9.18154C10.1456 9.18154 8.94721 8.061 8.94721 6.47538H4.94721C4.94721 10.1267 7.79572 13.1815 11.4663 13.1815V9.18154ZM8.94721 6.47538C8.94721 4.85001 10.1835 3.69846 11.4663 3.69846V-0.301539C7.75783 -0.301539 4.94721 2.86383 4.94721 6.47538H8.94721ZM0.809384 25H22.1906V21H0.809384V25ZM22.1906 25C23.8231 25 25 23.6237 25 22.1508H21C21 21.5979 21.435 21 22.1906 21V25ZM25 22.1508C25 16.6794 20.7205 12.0477 15.2771 12.0477V16.0477C18.3323 16.0477 21 18.7052 21 22.1508H25ZM15.2771 12.0477H7.72287V16.0477H15.2771V12.0477ZM7.72287 12.0477C2.27955 12.0477 -2 16.6794 -2 22.1508H2C2 18.7052 4.66766 16.0477 7.72287 16.0477V12.0477ZM-2 22.1508C-2 23.6237 -0.823085 25 0.809384 25V21C1.56502 21 2 21.5979 2 22.1508H-2ZM7.72287 17.7462H15.2771V13.7462H7.72287V17.7462ZM15.2771 17.7462C17.2781 17.7462 19.0411 19.3072 19.3301 21.5565L23.2975 21.0466C22.7771 16.9974 19.4814 13.7462 15.2771 13.7462V17.7462ZM21.3138 19.3015H1.68622V23.3015H21.3138V19.3015ZM3.66991 21.5565C3.95894 19.3072 5.72186 17.7462 7.72287 17.7462V13.7462C3.51861 13.7462 0.222875 16.9974 -0.297471 21.0466L3.66991 21.5565Z"
      fill="#193058" mask="url(#path-1-inside-1_20_302)" />
  </svg>
</template>
