<template>
  <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M15.5471 5.68085L21 11.0391L15.5471 16.3973M20.9205 11H7.06277M11.1768 1H1V21H11.1768" stroke="#193058"
      stroke-width="2" />
  </svg>
</template>
