<template>
  <header class="md:px-40">
    <MenuBar />
  </header>
  <main>
    <RouterView class="px-8 md:pt-16 md:px-40 font-d-din-pro h-auto" />
    <ScrollTop />
  </main>
</template>

<script setup>
import MenuBar from '@/components/MenuBar.vue';
import ScrollTop from 'primevue/scrolltop';
</script>

<style></style>
