<template>
  <div class="flex flex-col justify-center items-center gap-10">
    <div class="p-0 flex">
      <h1 class="font-bold m-0 text-[32px] sm:text-[48px] lg:text-[64px] text-primary-950 pt-8 md:pt-0">BERATUNG</h1>
    </div>
    <div class="flex flex-col sm:flex-row sm:w-2/3 justify-center gap-10 w-full">
      <div class="max-w-96 items-center justify-center">
        <Panel header="Information">
          <p class="m-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id
            est laborum.
          </p>
        </Panel>
      </div>
      <div class="flex flex-col gap-6 items-center">
        <div class="gap-10 items-center">
          <div>
            <h2 class="font-bold text-primary-950 pt-0 mt-0">E-Mail:</h2>
            <InputText v-model="emailInput" type="text" class="w-full min-w-72 max-w-lg" />
          </div>
          <div class="">
            <h2 class="text-green-950">Nachricht (Optional):</h2>
            <Textarea v-model="messageInput" rows="5" cols="30" class="w-full max-w-lg min-w-72 max-h-56 min-h-16" />
          </div>
        </div>
        <Button type="button" label="Absenden" icon="pi pi-send" :loading="loading" @click="sendEmail" class="w-36" />
      </div>
    </div>
    <Toast />
  </div>
</template>

<script setup>
import axios from 'axios';
import Button from 'primevue/button';
import InputText from 'primevue/inputtext';
import Panel from 'primevue/panel';
import Textarea from 'primevue/textarea';
import Toast from 'primevue/toast';
import { useToast } from 'primevue/usetoast';
import { ref } from 'vue';
import { emailTemplate } from '../utils/templates/emailTemplate';

const emailInput = ref('');
const messageInput = ref('');
const loading = ref(false);
const toast = useToast();

const sendEmail = async () => {
  loading.value = true;
  try {
    const response = await axios.post(`${import.meta.env.VITE_NODEMAILER_SERVER_HOST}` + `/send-email`, {
      senderName: 'StiG Testing Mail',
      senderAddress: 'stig-test@demomailtrap.com',
      to: 'fesko.robert@gmail.com',
      subject: 'Beratungsanfrage',
      html: emailTemplate(messageInput.value, emailInput.value)
    });
    toast.add({
      severity: 'success',
      summary: 'E-Mail gesendet',
      detail: 'Die E-Mail wurde erfolgreich gesendet.',
      life: 3000,
    });
  } catch (error) {
    console.error('Error sending email:', error);
    toast.add({
      severity: 'error',
      summary: 'Fehler',
      detail: 'Es gab einen Fehler beim Senden der E-Mail.',
      life: 3000,
    });
  } finally {
    loading.value = false;
  }
};
</script>

<style scoped>
* {
  margin: 0;
}
</style>
