<template>
  <div class="flex flex-col items-center text-primary-950 min-h-screen">
    <h1 class="text-2xl font-semibold mb-4">FAQs</h1>
    <div id="accordion-open" class="w-2/3 max-w-full mx-auto" data-accordion="open">
      <div v-for="(item, index) in items" :key="index" class="mb-4">
        <h2 :id="`accordion-open-heading-${index}`">
          <button
            type="button"
            class="flex items-center justify-between w-full px-4 py-3 font-medium text-left text-farbe1 border-b border-gray-200 focus:outline-none"
            @click="toggleAccordion(index)"
            :aria-expanded="isAccordionOpen(index) ? 'true' : 'false'"
            :aria-controls="`accordion-open-body-${index}`"
            :class="{
              'bg-gray-100': isAccordionOpen(index),
              'hover:bg-gray-100': true
            }"
          >
            <span class="flex items-center gap-2">
              {{ item.question }}
            </span>
            <svg
              :class="isAccordionOpen(index) ? 'rotate-180' : ''"
              class="w-4 h-4 transform transition-transform duration-200"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 20"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 10l5 5 5-5"
              />
            </svg>
          </button>
        </h2>
        <div
          :id="`accordion-open-body-${index}`"
          :class="isAccordionOpen(index) ? 'block' : 'hidden'"
          :aria-labelledby="`accordion-open-heading-${index}`"
        >
          <div class="px-4 py-3 border-b border-gray-200">
            <p class="text-farbe1 dark:text-gray-300">
              {{ item.answer }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FaqAccordion',
  data() {
    return {
      openAccordions: [],
      items: [
        {
          question: 'Was ist das "Studienmodell der individuellen Geschwindigkeit"?',
          answer:
            'Das "Studienmodell der individuellen Geschwindigkeit" ist ein spezielles Förderprogramm, das es Studierenden ermöglicht, ihre Studienzeit um bis zu zwei Semester zu verlängern. Dieses Modell bietet individuelle Unterstützung und richtet sich an Studierende mit unterschiedlichen akademischen und persönlichen Hintergründen.',
        },
        {
          question: 'Wer kann vom "Studienmodell der individuellen Geschwindigkeit" profitieren?',
          answer:
            'Dieses Modell ist ideal für Studierende, die aus verschiedenen Bildungswegen oder biografischen Hintergründen kommen oder andere Lebensumstände haben, die ihr Studienpensum beeinflussen könnten. Es unterstützt insbesondere diejenigen, die aufgrund von Wissenslücken oder herausfordernden Lebenssituationen mehr Zeit benötigen.',
        },
        {
          question: 'Wie hilft das "Studienmodell der individuellen Geschwindigkeit" den Studierenden?',
          answer:
            'Das Programm bietet Flexibilität und Unterstützung, sodass Studierende ihr Studium auch unter besonderen Lebensumständen erfolgreich abschließen können, selbst wenn sie mehr Zeit zur Anpassung an die Anforderungen des Studiums benötigen.',
        },
        {
          question: 'Ab wann können Studierende am "Studienmodell der individuellen Geschwindigkeit" teilnehmen?',
          answer:
            'Studierende können ab dem zweiten Semester ihres Studiums an diesem Programm teilnehmen.',
        },
        {
          question: 'Wie wirkt sich die Teilnahme am Programm auf den Prüfungsplan aus?',
          answer:
            'Die Teilnahme am Programm ermöglicht es den Studierenden, ihre Prüfungen über einen längeren Zeitraum zu verteilen. Zum Beispiel können Prüfungen, die normalerweise im dritten Semester abgelegt werden, ins vierte Semester verschoben werden, sodass die Studierenden mehr Zeit zur Vorbereitung haben.',
        },
        {
          question: 'Müssen Studierende ihre Studiendauer verlängern, wenn sie am Programm teilnehmen?',
          answer:
            'Ja, das Programm verlängert die maximale Studiendauer für den Bachelorstudiengang um ein Semester, wodurch die Prüfungen statt in vier Semestern in fünf Semestern absolviert werden können.',
        },
        {
          question: 'Gibt es Nachteile für BAföG-Empfänger, wenn sie am Programm teilnehmen?',
          answer:
            'Nein, BAföG-Empfänger haben keinen Nachteil durch die Teilnahme am Programm. Allerdings wird die BAföG-Förderung nicht automatisch verlängert, sodass die Studierenden dies in ihrer Planung berücksichtigen müssen.',
        },
      ],
    };
  },
  methods: {
    toggleAccordion(index) {
      const isOpen = this.openAccordions.includes(index);
      if (isOpen) {
        this.openAccordions = this.openAccordions.filter((i) => i !== index);
      } else {
        this.openAccordions.push(index);
      }
    },
    isAccordionOpen(index) {
      return this.openAccordions.includes(index);
    },
  },
};
</script>

<style scoped>
.rotate-180 {
  transform: rotate(180deg);
}

button:hover {
  background-color: #f3f4f6;
}

.dark .text-gray-700 {
  color: #d1d5db;
}
</style>