<template>
    <div class="flex flex-col items-start justify-start">
        <main class="flex flex-col items-start justify-start gap-10 md:gap-20 max-w-full text-farbe1">
            <div
                class="mt-5 md:m-0 w-full flex flex-col items-start justify-start gap-4 md:gap-9 *:m-0 max-w-full text-[64px]">
                <h1 class="text-inherit font-bold text-[30px] md:text-[38px] lg:text-[64px]">
                    WILLKOMMEN ZUM STIG PORTAL
                </h1>
                <div class="md:text-xl leading-[120%] text-justify items-center text-base">
                    <span>
                        <!-- <p class="font-thin">
                          Als Student an unserer Hochschule bieten wir dir hier im StiG Portal eine einfache und
                          interaktive Umgebung, um deinen Studienverlauf individuell zu gestalten. Dein Erfolg
                          ist uns wichtig, und wir verstehen, dass Flexibilität ein Schlüssel dazu sein kann.
                      </p> -->
                        <p>Hier sind die Aktionen, die du durchführen kannst:</p>
                    </span>
                </div>
            </div>
            <div
                class="*:h-14 w-full md:h-auto flex flex-col md:flex-row *:items-center *:justify-center gap-6 md:gap-12 text-xl text-white *:md:space-y-0">
                <div @click="redirectToAntrag"
                    class="w-full md:size-44 cursor-pointer hover:bg-surface-700 bg-primary-950 flex flex-row-reverse md:flex-col gap-4 justify-items-center space-y-8">
                    <div class="md:font-medium">Antrag</div>
                    <IconDocument class="hidden md:flex md:size-16" loading="lazy" />
                </div>

                <div @click="redirectToCounsel"
                    class="w-full md:size-44 cursor-pointer hover:bg-surface-700 bg-primary-950 flex flex-row-reverse md:flex-col gap-4 justify-items-center space-y-8">
                    <div class="md:font-medium">Beratungstermin</div>
                    <IconCounsel class="hidden md:flex md:size-16" loading="lazy" />
                </div>
            </div>
        </main>
    </div>
</template>

<script setup>
import { globals } from "@/main";
import { computed } from "vue";
import { useRouter } from "vue-router";
import IconCounsel from "../components/icons/IconCounsel.vue";
import IconDocument from "../components/icons/IconDocument.vue";

const user = computed(() => {
    if (!globals.$keycloak) {
        return null;
    } else {
        return globals.$keycloak.authenticated
            ? globals.$keycloak.tokenParsed
            : null;
    }
});

const roles = computed(() => {
    return user.value?.resource_access["stig-portal"]?.roles || [];
});

const router = useRouter();

const redirectToAntrag = () => {
    if (roles.value.includes("student")){
        router.push("/new-request");
    }else if (roles.value.includes("studiendekan") || roles.value.includes("studiengangkoordinator")){
        router.push("/requests");
    }else{
        router.push("/unauthorized");
    }
};

const redirectToCounsel = () => {
    router.push("/counsel");
};
</script>
