<template>
    <div class="flex justify-center">
        <main class="text-primary-950 md:w-5/6">
            <div class="md:flex md:flex-col md:items-center md:justify-center md:gap-8 md:*:w-full">
                <div class="flex items-center justify-center">
                    <h2 class="text-[24px] p-3 md:font-bold md:text-[64px]">
                        STIG-ANTRAGSFORMULAR
                    </h2>
                </div>
                <div class="flex flex-col md:flex md:justify-center">
                    <Stepper class="flex flex-wrap md:flex md:flex-col">
                        <StepperPanel header="Studentische Daten">
                            <template #content="{ nextCallback }">
                                <div>
                                    <div class="flex-auto">
                                        <ApplicationForm @update:studyModel="handleStudyModelChange" />
                                    </div>
                                </div>
                                <div class="flex pt-4 justify-end">
                                    <Button label="Weiter" icon="pi pi-arrow-right" iconPos="right"
                                        @click="nextCallback"></Button>
                                </div>
                            </template>
                        </StepperPanel>
                        <StepperPanel header="Prüfungsplan">
                            <template #content="{ prevCallback, nextCallback }">
                                <div class="flex flex-col">
                                    <div class="flex-auto flex justify-center items-center font-medium">
                                        <ExaminationPlan :studyModel="studyModel" />
                                    </div>
                                </div>
                                <div class="flex pt-4 justify-between">
                                    <Button label="Zurück" icon="pi pi-arrow-left" @click="prevCallback"></Button>
                                    <Button label="Weiter" icon="pi pi-arrow-right" iconPos="right"
                                        @click="nextCallback"></Button>
                                </div>
                            </template>
                        </StepperPanel>
                        <StepperPanel header="Übersicht">
                            <template #content="{ prevCallback }">
                                <div class="flex flex-col">
                                    <div class="flex-auto flex justify-center items-center font-medium">
                                        <ApplicationSummary :studyModel="studyModel" />
                                    </div>
                                </div>
                                <div class="flex pt-4 justify-between">
                                    <Button label="Zurück" icon="pi pi-arrow-left" @click="prevCallback"></Button>
                                    <ConfirmDialog group="templating"></ConfirmDialog>
                                    <div class="flex justify-center">
                                        <Button @click="confirmRequest()" label="Beantragen"></Button>
                                    </div>
                                    <Toast />
                                </div>
                            </template>
                        </StepperPanel>
                    </Stepper>
                </div>
            </div>
        </main>
    </div>
</template>

<script setup>
import ApplicationForm from "@/components/ApplicationForm.vue";
import ApplicationSummary from "@/components/ApplicationSummary.vue";
import ExaminationPlan from "@/components/ExaminationPlan.vue";
import Button from "primevue/button";
import ConfirmDialog from "primevue/confirmdialog";
import Stepper from "primevue/stepper";
import StepperPanel from "primevue/stepperpanel";
import Toast from "primevue/toast";
import { ref, onMounted } from 'vue';

import { useConfirm } from "primevue/useconfirm";
import { useToast } from "primevue/usetoast";

import { submitFormData } from "@/services/ApiService";
import { useApplicationFormStore } from "@/stores/ApplicationStore";

import { globals } from "@/main";
import { computed } from "vue";

const user = computed(() => {
    if (!globals.$keycloak) {
        return null;
    } else {
        return globals.$keycloak.authenticated
            ? globals.$keycloak.tokenParsed
            : null;
    }
});

const roles = computed(() => {
    return user.value?.resource_access["stig-portal"]?.roles || [];
});

onMounted(() => {
    console.log(user);
});

const confirm = useConfirm();
const toast = useToast();
const applicationStore = useApplicationFormStore();

const studyModel = ref("");

const handleStudyModelChange = (model) => {
    studyModel.value = model;
};

const confirmRequest = async () => {
    confirm.require({
        group: "templating",
        header: "Bestätigung",
        message: "Bist du sicher, dass du den Antrag absenden möchtest?",
        icon: "pi pi-exclamation-circle",
        accept: async () => {
            const local_approvedByStudent = roles.value.includes("student");
            const studentData = {
                surname: applicationStore.personalData.lastName,
                name: applicationStore.personalData.firstName,
                studentNumber: parseInt(applicationStore.personalData.matriculationNumber),
                email: applicationStore.personalData.email,
                degreeProgram: applicationStore.degreeProgram.name,
                spo: parseInt(applicationStore.spo),
                application: {
                    stigSemester: applicationStore.studyModel,
                    semesterA: "Wintersemester",
                    semesterB: "Sommersemester",
                    approvedByStudent: local_approvedByStudent,
                    approvedByDekan: false,
                    createdBy: user.value?.preferred_username,
                    examPlan: {
                        semesterModulesA: [],
                        semesterModulesB: [],
                        createdBy: "",
                    },
                }
            };

            if (applicationStore.isExaminationPlanSelected) {
                studentData.application.examPlan.semesterModulesA = applicationStore.getExamPlanForSemesterA();
                studentData.application.examPlan.semesterModulesB = applicationStore.getExamPlanForSemesterB();
                studentData.application.examPlan.createdBy = user.value?.preferred_username;
            }

            try {
                await submitFormData([studentData]);
                toast.add({
                    severity: "success",
                    summary: "Gesendet",
                    detail: "Du hast den Antrag erfolgreich gesendet.",
                    life: 3000,
                });
            } catch (error) {
                toast.add({
                    severity: "error",
                    summary: "Fehler",
                    detail: "Es gab einen Fehler beim Senden des Antrags.",
                    life: 3000,
                });
            }
        },
        reject: () => {
            toast.add({
                severity: "info",
                summary: "Abgebrochen",
                detail: "Du kannst den Antrag noch bearbeiten.",
                life: 3000,
            });
        },
    });
};

</script>

<style scoped>
* {
    margin: 0;
}
</style>