<template>
    <div class="flex flex-col items-center *:m-0">
        <h1 class="text-[48px] text-surface-700 text-pretty text-center">404 Not Found</h1>
        <h1 class="text-primary-950 text-pretty text-center">Die gesuchte Seite wurde nicht gefunden.</h1>
    </div>
</template>

<script setup>

</script>