<template>
    <div class="text-primary-950 pt-3 md:p-0 md:m-0">
        <h1 v-if="user" class="text-[28px] md:text-[64px]">{{ user.name }}</h1>
        <div class="*:text-[16px] md:*:text-[20px]" v-if="user">
            <p>Username: {{ user.preferred_username }}</p>
            <p>Email: {{ user.email }}</p>
            <p>Role: {{ studentRole }}</p>
        </div>
        <div class="*:text-[20px]" v-else-if="!user">
            <p>Keine Benutzerdaten verfügbar.</p>
        </div>
    </div>
</template>

<script setup>
import { globals } from '@/main';
import { computed } from 'vue';

const user = computed(() => {
    if (!globals.$keycloak) {
        return null;
    } else {
        return globals.$keycloak.authenticated ? globals.$keycloak.tokenParsed : null;
    }
});

const studentRole = computed(() => {
    const roles = user.value?.resource_access['stig-portal']?.roles || [];
    return roles;
});

</script>
