<template>
  <div class="flex justify-start">
    <main class="text-primary-950 w-full">
      <div class="md:flex md:flex-col md:gap-8">
        <h2 class="text-[24px] md:font-bold md:text-[64px]">
          AKTUELLE ANTRÄGE
        </h2>
        <div class="md:text-xl leading-[120%] text-justify text-base">
          <p>
            Hier können Sie alle StiG-Anträge Ihres Studiengangs einsehen.
            Nutzen Sie unsere Such- und Filterfunktionen, um spezifische Anträge
            schnell zu finden.
          </p>
        </div>
        <!-- Requests Table -->
        <div class="card">
          <DataTable v-model:filters="filters" :value="customers" :rows="10" dataKey="id" filterDisplay="menu"
            :loading="loading" :globalFilterFields="[
              'name',
              'country.name',
              'representative.name',
              'balance',
              'status',
            ]">
            <template #header>
              <div class="flex justify-content-between">
                <Button type="button" icon="pi pi-filter-slash" label="Clear" outlined @click="clearFilter()" />
                <IconField iconPosition="left">
                  <InputIcon>
                    <i class="pi pi-search" />
                  </InputIcon>
                  <InputText v-model="filters['global'].value" placeholder="Keyword Search" />
                </IconField>
              </div>
            </template>
            <template #empty> No customers found. </template>
            <template #loading> Loading customers data. Please wait. </template>
            <Column field="name" header="Name" style="min-width: 12rem">
              <template #body="{ data }">
                {{ data.name }}
              </template>
              <template #filter="{ filterModel }">
                <InputText v-model="filters['global'].value" type="text" class="p-column-filter"
                  placeholder="Search by name" />
              </template>
            </Column>
            <Column header="Country" filterField="country.name" style="min-width: 12rem">
              <template #body="{ data }">
                <div class="flex align-items-center gap-2">
                  <img alt="flag" src="https://primefaces.org/cdn/primevue/images/flag/flag_placeholder.png"
                    :class="`flag flag-${data.country.code}`" style="width: 24px" />
                  <span>{{ data.country.name }}</span>
                </div>
              </template>
              <template #filter="{ filterModel }">
                <InputText v-model="filters['global'].value" type="text" class="p-column-filter"
                  placeholder="Search by country" />
              </template>
              <template #filterclear="{ filterCallback }">
                <Button type="button" icon="pi pi-times" @click="filterCallback()" severity="secondary"></Button>
              </template>
              <template #filterapply="{ filterCallback }">
                <Button type="button" icon="pi pi-check" @click="filterCallback()" severity="success"></Button>
              </template>
              <template #filterfooter>
                <div class="px-3 pt-0 pb-3 text-center">Customized Buttons</div>
              </template>
            </Column>
            <Column header="Agent" filterField="representative" :showFilterMatchModes="false"
              :filterMenuStyle="{ width: '14rem' }" style="min-width: 14rem">
              <template #body="{ data }">
                <div class="flex align-items-center gap-2">
                  <img :alt="data.representative.name"
                    :src="`https://primefaces.org/cdn/primevue/images/avatar/${data.representative.image}`"
                    style="width: 32px" />
                  <span>{{ data.representative.name }}</span>
                </div>
              </template>
              <template #filter="{ filterModel }">
                <MultiSelect v-model="filterModel.value" :options="representatives" optionLabel="name" placeholder="Any"
                  class="p-column-filter">
                  <template #option="slotProps">
                    <div class="flex align-items-center gap-2">
                      <img :alt="slotProps.option.name"
                        :src="`https://primefaces.org/cdn/primevue/images/avatar/${slotProps.option.image}`"
                        style="width: 32px" />
                      <span>{{ slotProps.option.name }}</span>
                    </div>
                  </template>
                </MultiSelect>
              </template>
            </Column>
            <Column header="Date" filterField="date" dataType="date" style="min-width: 10rem">
              <template #body="{ data }">
                {{ formatDate(data.date) }}
              </template>
              <template #filter="{ filterModel }">
                <Calendar v-model="filterModel.value" dateFormat="mm/dd/yy" placeholder="mm/dd/yyyy"
                  mask="99/99/9999" />
              </template>
            </Column>
            <Column header="Balance" filterField="balance" dataType="numeric" style="min-width: 10rem">
              <template #body="{ data }">
                {{ formatCurrency(data.balance) }}
              </template>
              <template #filter="{ filterModel }">
                <InputNumber v-model="filterModel.value" mode="currency" currency="USD" locale="en-US" />
              </template>
            </Column>
            <Column header="Status" field="status" :filterMenuStyle="{ width: '14rem' }" style="min-width: 12rem">
              <template #body="{ data }">
                <Tag :value="data.status" :severity="getSeverity(data.status)" />
              </template>
              <template #filter="{ filterModel }">
                <Dropdown v-model="filterModel.value" :options="statuses" placeholder="Select One"
                  class="p-column-filter" showClear>
                  <template #option="slotProps">
                    <Tag :value="slotProps.option" :severity="getSeverity(slotProps.option)" />
                  </template>
                </Dropdown>
              </template>
            </Column>
            <Column field="activity" header="Activity" :showFilterMatchModes="false" style="min-width: 12rem">
              <template #body="{ data }">
                <ProgressBar :value="data.activity" :showValue="false" style="height: 6px"></ProgressBar>
              </template>
              <template #filter="{ filterModel }">
                <Slider v-model="filterModel.value" range class="m-3"></Slider>
                <div class="flex align-items-center justify-content-between px-2">
                  <span>{{
                    filterModel.value ? filterModel.value[0] : 0
                  }}</span>
                  <span>{{
                    filterModel.value ? filterModel.value[1] : 100
                  }}</span>
                </div>
              </template>
            </Column>
            <Column field="verified" header="Verified" dataType="boolean" bodyClass="text-center"
              style="min-width: 8rem">
              <template #body="{ data }">
                <i class="pi" :class="{
                  'pi-check-circle text-green-500 ': data.verified,
                  'pi-times-circle text-red-500': !data.verified,
                }"></i>
              </template>
              <template #filter="{ filterModel }">
                <label for="verified-filter" class="font-bold">
                  Verified
                </label>
                <TriStateCheckbox v-model="filterModel.value" inputId="verified-filter" />
              </template>
            </Column>
          </DataTable>
        </div>
      </div>
    </main>
  </div>
</template>

<script setup>
import Button from "primevue/button";
import Calendar from "primevue/calendar";
import Column from "primevue/column";
import DataTable from "primevue/datatable";
import Dropdown from "primevue/dropdown";
import InputNumber from "primevue/inputnumber";
import InputText from "primevue/inputtext";
import MultiSelect from "primevue/multiselect";
import ProgressBar from "primevue/progressbar";
import Slider from "primevue/slider";
import Tag from "primevue/tag";
import TriStateCheckbox from "primevue/tristatecheckbox";
import InputIcon from "primevue/inputicon";
import IconField from "primevue/iconfield";
import { onMounted, ref } from "vue";
import { getAllApplications } from "@/services/ApiService";


// Dummy data for the customers table
const customers = ref([]);
const loading = ref(true);
const filters = ref({ global: { value: null } });
const representatives = ref([]);
const statuses = ref([
  { label: "New", value: "new" },
  { label: "Qualified", value: "qualified" },
  { label: "Negotiation", value: "negotiation" },
  { label: "Unqualified", value: "unqualified" },
  { label: "Sold", value: "sold" },
  { label: "Closed", value: "closed" },
]);

const formatDate = (date) => {
  const options = { year: "numeric", month: "2-digit", day: "2-digit" };
  return new Date(date).toLocaleDateString("en-US", options);
};

const formatCurrency = (value) => {
  return value.toLocaleString("en-US", {
    style: "currency",
    currency: "USD",
  });
};

const getSeverity = (status) => {
  switch (status) {
    case "new":
      return "info";
    case "qualified":
      return "success";
    case "negotiation":
      return "warning";
    case "unqualified":
      return "danger";
    case "sold":
      return "success";
    case "closed":
      return "secondary";
  }
};

onMounted(async () => {
  const applications = await getAllApplications();
  console.log('Applications:\n', JSON.stringify(applications, null, 2));

  // Dummy customer data
  customers.value = [
    {
      id: 1,
      name: "John Doe",
      country: { name: "USA", code: "us" },
      representative: { name: "Amy Elsner", image: "amyelsner.png" },
      date: "2023-08-01",
      balance: 2500.0,
      status: "new",
      activity: 75,
      verified: true,
    },
    {
      id: 2,
      name: "Jane Roe",
      country: { name: "Germany", code: "de" },
      representative: { name: "Anna Fali", image: "annafali.png" },
      date: "2023-08-12",
      balance: 1800.0,
      status: "qualified",
      activity: 50,
      verified: false,
    },
    {
      id: 3,
      name: "Alex Smith",
      country: { name: "Japan", code: "jp" },
      representative: { name: "Asiya Javayant", image: "asiyajavayant.png" },
      date: "2023-07-25",
      balance: 3200.0,
      status: "negotiation",
      activity: 30,
      verified: true,
    },
    {
      id: 4,
      name: "Chris Johnson",
      country: { name: "Brazil", code: "br" },
      representative: {
        name: "Bernardo Dominic",
        image: "bernardodominic.png",
      },
      date: "2023-07-30",
      balance: 1400.0,
      status: "unqualified",
      activity: 90,
      verified: false,
    },
    {
      id: 5,
      name: "Sandra Lee",
      country: { name: "Australia", code: "au" },
      representative: { name: "Ioni Bowcher", image: "ionibowcher.png" },
      date: "2023-08-05",
      balance: 5000.0,
      status: "sold",
      activity: 65,
      verified: true,
    },
  ];

  representatives.value = customers.value.map(
    (customer) => customer.representative
  );
  loading.value = false;
});

const clearFilter = () => {
  filters.value = { global: { value: null } };
};
</script>

<style scoped>
* {
  margin: 0;
}
</style>
