<template>
    <div class="flex flex-col items-center *:m-0">
        <h1 class="text-[48px] text-surface-700 text-pretty text-center">401 Unauthorized</h1>
        <h1 class="text-primary-950 text-pretty text-center">Du bist nicht berechtigt, diese Seite zu sehen.</h1>
    </div>
</template>

<script setup>

</script>